#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

#product_page_section {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    z-index: 10;
    overflow: auto;
    padding: 40px;
}
#close_product_page_section {
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
    align-self: flex-end;
    position: fixed;
    margin-top: 40px;
    top: 0;
}
.figure_product_page_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
#img_product_page_section {
    height: 50vh;
    cursor: -webkit-zoom-in;
}
#img_product_page_section.zoom {
    height: 100vh;
    cursor: -webkit-zoom-out;
}
#description_product_page_section {
    margin-top: 40px;
    color: var(--white);
    font-size: 22px;
    width: 50vw;
    text-align: center;
}
#price_product_page_section {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
}
#button_product_page_section {
    background-color: #25D366;
    color: white;
    border: 0px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 25px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.5s;
}
#button_product_page_section:hover {
    box-shadow: 0px 0px 10px #25D366;
}
.product_page_section_icon-whatsapp {
    font-size: 30px;
    margin-right: 5px;
}
.div_product_page_section {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}
#heart_product_page_section {
    color: #ff0000;
    cursor: pointer;
    font-size: 40px;
    margin-right: 20px;
}
#likes_product_page_section {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}
.personalize_div {
    text-align: center;
    margin: 0px 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}
.personalize_select {
    background-color: var(--form-background);
    color: var(--white);
    border: solid 1px var(--white);
}

.main__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-background);
    padding: 10px 40px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.main__title {
    color: var(--text-title);
}

.title--h1 {
    font-family: 'Irish Grover', cursive;
}

#user-img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid 2px var(--primary-color);
    margin-left: 10px;
    padding: 2px;
}

.nav__icon {
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    margin: 10px 10px 0px 10px;
    font-size: 2em;
    display: flex;
}
.title--h2 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 500;
    margin: 40px 0px;
}

.article--product {
    display: flex;
    flex-direction: column;
    background-color: var(--form-background);
    width: 300px;
    height: 450px;
    margin: 40px;
    border: solid 1px #191816;
    box-shadow: 0px 0px 4px #e91e63;
    border-radius: 7px;
    cursor: pointer;
}
body.light .article--product {
    box-shadow: none;
}

.product__img {
    background-color: var(--white);
    width: 300px;
    height: 300px;
    border-radius: 7px 7px 0px 0px;
}

.product__description {
    color: var(--white);
    font-size: 19px;
    height: 100%;
    margin: 5px 15px 0px 15px;
}

.product__price {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 400;
}

.product__likes {
    color: var(--white);
    font-size: 19px;
}

.product__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.main__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--form-background);
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.footer__nav {
    display: flex;
    align-items: center;
}

.icon--whatsapp {
    background-color: #25D366;
    color: white;
    border-radius: 100% 100% 100% 0px;
}

.icon--instagram {
    color: white;
    background: linear-gradient(225deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border-radius: 9px;
}

.nav__icon {
    transition: 0.5s;
    margin: 0px 10px;
}

.nav__icon:hover {
    transform: scale(1.1);
}

.footer__p {
    color: var(--white);
}

.footer__div {
    display: flex;
    align-items: center;
}

.section--wrap {
    display: flex;
    padding: 0px 40px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    min-height: 100vh;
}

#section_message {
    color: var(--text-base);
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 36vh 0px;
    padding: 0px 20px;
}
#loading_window {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-background {
    background: conic-gradient(from 180deg at 50% 50%, #E91E63 0deg, rgba(233, 30, 99, 0) 360deg);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: infinite_rotate 0.5s linear infinite;
}

.load-circle {
    background-color: var(--background);
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

@keyframes infinite_rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}
@media only screen and (max-width: 820px) {
    .main__header {
        padding: 10px 20px;
        justify-content: flex-end;
    }

    .title--h1 {
        display: none;
    }

    .article--product {
        margin: 20px;
    }

    #user-img {
        width: 50px;
        height: 50px;
    }
    .title--h2 {
        padding: 0px 20px;
        text-align: center;
    }
    .footer__div {
        display: none;
    }
    .footer__p {
        display: none;
    }
    .main__footer {
        justify-content: center;
    }
    .section--wrap {
        padding: 0px 0px;
    }
    #img_product_page_section.zoom {
        height: 100vh;
        width: auto;
        cursor: -webkit-zoom-out;
        position: fixed;
        top: 0;
        z-index: 2;
    }
}