:root {
    --text-base: #afb6c2;
    --text-title: #e91e63;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #e91e63;
    --black: #000;
    --white: #fff;
}
.light {
 --text-base: rgb(65, 65, 65);
 --text-title: #e91e63;
 --background: #fff;
 --form-background: #fff;
 --primary-color: #e91e63;
 --black: #000;
 --white: #000;   
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}