#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    min-height: 100vh;
}


.perfil-help-section {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    z-index: 10;
    overflow: auto;
    padding: 40px;
}
#perfil-help-section__close-btn {
    position: absolute;
    font-size: 40px;
    color: var(--white);
    margin: 40px 40px 0px 0px;
    right: 0;
    top: 0;
    cursor: pointer;
}
.perfil-help-section__h1 {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}
.perfil-help-section__icon {
    font-size: 35px;
    margin-right: 5px;
}
.perfil-help-section__dl {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    width: 100%;
    margin: 20px 0px;
}
.perfil-help-section__dt {
    font-size: 30px;
    font-weight: 600;
}
.perfil-help-section__dd {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

#perfil-help-section__open-btn {
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: space-between;
}

.main__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-background);
    padding: 10px 40px;
    margin-bottom: 40px;
}


.form--edit-perfil {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--background);
    flex-direction: column;
    align-items: center;
    padding: 40px;
    overflow: auto;
}
.form--edit-perfil.active {
    display: flex;
}
.form--edit-perfil__fieldset {
    border-radius: 7px;
    border: solid 2px var(--white);
    background-color: transparent;
    width: 50%;
    margin: 20px 0px;
    display: flex;
    color: var(--white);
}
.form--edit-perfil__legend {
    font-size: 16px;
}
.form--edit-perfil__input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0px;
    color: var(--white);
    font-size: 16px;
}
.form--edit-perfil__input:focus {
    outline-width: 0px;
}
.form--edit-perfil__input::placeholder {
    color: var(--text-base);
}
.form--edit-perfil__icon {
    font-size: 20px;
    margin-right: 12px;
}
fieldset.form--edit-perfil__fieldset:has(> input.form--edit-perfil__input:focus) {
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
}

#form--edit-perfil__img {
    height: 300px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
    border: solid 2px var(--primary-color);
    border-radius: 100%;
}
#form--edit-perfil__username {
    background-color: transparent;
    border: 0px;
    font-size: 40px;
    color: var(--white);
    width: 100%;
    text-align: center;
}
#form--edit-perfil__username:focus {
    outline-width: 0px;
}
.form--edit-perfil__edit-name {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.edit-name__icon {
    color: var(--white);
    font-size: 30px;
}
#choose-user-photo {
    display: none;
}
#label__choose-user-photo {
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
    margin: 20px 0px;
    cursor: pointer;
}
#form--edit-perfil__close--form {
    right: 0;
    top: 0px;
    margin: 40px 40px 0px 0px;
    font-size: 40px;
    color: var(--white);
    align-self: baseline;
    position: absolute;
    cursor: pointer;
}
#form--edit-perfil__button--save {
    background-color: var(--primary-color);
    color: var(--background);
    cursor: pointer;
    border: 0px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    margin-top: 10px;
    transition: 0.5s;
}
#form--edit-perfil__button--save:hover {
    transform: scale(1.07);
}



.header__nav {
    display: flex;
    align-items: center;
}
.main__title {
    color: var(--text-title);
}
.title--h1 {
    font-family: 'Irish Grover', cursive;
}
#user-img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid 2px var(--primary-color);
    margin-left: 10px;
    padding: 2px;
}
.nav__icon {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 2em;
    transition: 0.5s;
    display: flex;
}

.main__nav {
    position: absolute;
    left: 0;
    margin-left: 40px;
    margin-top: 150px;
}
.main__nav__a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin-bottom: 10px;
}
.main__nav__icon {
    color: var(--white);
    font-size: 30px;
    margin-right: 10px;
}
#button__disconnect {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    background-color: var(--form-background);
    border-radius: 7px;
    padding: 40px;
    margin-bottom: 40px;
}
#edit-perfil {
    color: var(--white);
    align-self: flex-end;
    font-size: 35px;
    cursor: pointer;
}
#edit-perfil__img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: solid 2px var(--primary-color);
    padding: 2px;
}
#edit-perfil__username {
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0px;
}
.edit-perfil__icon {
    color: var(--white);
    font-size: 35px;
    margin-right: 10px;
}
.edit-perfil__div {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.edit-perfil__p {
    color: var(--white);
    text-align: center;
    margin: 0px;
}
.edit-data__title {
    color: var(--white);
    font-size: 30px;
    font-weight: 500;
}
.edit-data__fieldset {
    display: flex;
    align-items: center;
    border-radius: 7px;
    border:  solid 2px var(--white);
    width: 50%;
}
.edit-data__legend {
    color: var(--white);
}
.edit-data__input {
    background-color: transparent;
    border: 0px;
    outline-width: 0px;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 16px;
}
.edit-data__icon {
    color: var(--white);
    font-size: 22px;
    margin-right: 12px;
}
.edit-data__button {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--background);
    font-size: 18px;
    font-weight: 500;
    border: 0px;
    border-radius: 7px;
    padding: 4px 10px;
    margin: 20px 0px;
}
#delet-account {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin-top: 20px;
}
#delet-account:hover {
    text-decoration: underline;
}

.title--h2 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 500;
    margin: 40px 0px 0px 0px;
}
.title--h2--top {
    margin: 0px 0px 40px 0px;
}
.form--edit-perfil__hr {
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(from 180deg at 50% 50%, #191816 0deg, rgba(0, 0, 0, 0) 360deg);
    height: 21.111px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    animation: infinit_rotate 2s infinite;
    margin: 1px 19.5px;
}
.loading__center {
    width: 80%;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 100%;
}
#write_alert {
    color: #00ff00;
}

.nav__icon:hover {
    transform: scale(1.1);
}

@keyframes infinit_rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -1080deg;
    }
}

@media only screen and (max-width: 985px) {
    .main__nav {
        position: unset;
        align-self: baseline;
        margin: 0px 0px 0px 20px;
    }
    .title--h1 {
        display: none;
    }
    #user-img {
        width: 50px;
        height: 50px;
    }
    .main__header {
        padding: 10px 20px;
        justify-content: flex-end;
    }
    .main__section {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        background-color: transparent;
    }
    .edit-data__fieldset {
        width: 100%;
    }
    .form--edit-perfil__fieldset {
        width: 100%;
    }
    .form--edit-perfil {
        padding: 20px;
    }
    #form--edit-perfil__close--form {
        margin: 20px 20px 0px 0px;
    }
}