#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    min-height: 100vh;
}
.main__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-background);
    padding: 10px 40px;
    margin-bottom: 40px;
}
.header__nav {
    display: flex;
    align-items: center;
}
.main__title {
    color: var(--text-title);
}
.title--h1 {
    font-family: 'Irish Grover', cursive;
}
#user-img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid 2px var(--primary-color);
    margin-left: 10px;
    padding: 2px;
}
.nav__icon {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 2em;
    display: flex;
    align-items: center;
    align-self: center;
}

.title--h2 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0px;
}

.article--product {
    display: flex;
    flex-direction: column;
    background-color: var(--form-background);
    width: 300px;
    height: 450px;
    margin: 40px;
    border: solid 2px #191816;
    box-shadow: 0px 0px 4px #e91e63;
    border-radius: 7px;
}
body.light .article--product {
    box-shadow: none;
}
.product__img {
    background-color: var(--white);
    width: 300px;
    height: 300px;
}
.product__description {
    color: var(--white);
    font-size: 19px;
    height: 100%;
    margin: 5px 15px 0px 15px;
}
.product__price {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 400;
}
.product__likes {
    color: var(--white);
    font-size: 19px;
}
.product__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.nav__icon:hover {
    transform: scale(1.1);
}
.main__row-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px 40px;
    margin-bottom: 40px;
}
.main__form {
    display: flex;
    background-color: var(--form-background);
    flex-direction: column;
    padding: 40px;
    width: 40%;
    border: solid 2px #191816;
    border-radius: 7px;
}


.form__fieldset {
    border-radius: 7px;
    border: solid 2px var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    margin: 20px 0px;
}

.fieldset__icon {
    font-size: 22px;
    margin-right: 10px;
}
.fieldset__input {
    background-color: transparent;
    color: var(--white);
    border: 0px;
    outline-width: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
}
.fieldset__input:focus {
    border: 0px;
    outline-width: 0px;
}

fieldset.form__fieldset:has(> input.fieldset__input:focus)  {
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
}
fieldset.form__fieldset:has(> select.fieldset__input:focus)  {
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
}
.fieldset__input::placeholder {
    color: var(--text-base);
}

.product_categorie-option {
    background-color: var(--form-background);
    color: var(--white);
}

.form__button {
    background-color: var(--primary-color);
    color: var(--black);
    border-radius: 7px;
    width: 100%;
    padding: 10px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__button:hover {
    letter-spacing: 4px;
    transform: scale(1.05);
}

.form__p {
    color: var(--white);
    margin: 20px 0px 0px 0px;
}
.section__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview__title {
    color: var(--white);
    font-weight: 500;
    font-size: 30px;
}
.form__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#add-product-help-btn {
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
}
#section__products-added {
    display: flex;
    width: 100%;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product__delete-icon {
    font-size: 40px;
}
.product__span {
    position: absolute;
    color: var(--white);
    background-color: var(--form-background);
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#product-help-section__close-btn {
    position: absolute;
    font-size: 40px;
    color: var(--white);
    margin: 40px 40px 0px 0px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.product-help-section__dl {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    width: 100%;
    margin: 20px 0px;
}
.product-help-section__dt {
    font-size: 30px;
    font-weight: 600;
}
.product-help-section__dd {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}
.product-help-section__h1 {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}
.product-help-section__icon {
    font-size: 35px;
    margin-right: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(from 180deg at 50% 50%, #191816 0deg, rgba(0, 0, 0, 0) 360deg);
    height: 21.111px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    animation: infinit_rotate 2s infinite;
}
.loading__center {
    width: 80%;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 100%;
}

@keyframes infinit_rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -1080deg;
    }
}

.sucess {
    color: rgb(0, 255, 0);
}
.error {
    color: red;
}
.add-product-help-section {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    z-index: 10;
    overflow: auto;
    padding: 40px;
}
#loading_window {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-background {
    background: conic-gradient(from 180deg at 50% 50%, #E91E63 0deg, rgba(233, 30, 99, 0) 360deg);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: infinite_rotate 0.5s linear infinite;
}

.load-circle {
    background-color: var(--background);
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

@keyframes infinite_rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}
@media only screen and (max-width: 820px) {
    .main__row-section {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        padding: 0px 20px;

    }
    .main__header {
        padding: 10px 20px;
        justify-content: flex-end;
    }
    .title--h1 {
        display: none;
    }
    .main__form {
        width: 100%;
        padding: 20px;
    }
    .title--h2 {
        font-size: 23px;
    }
    #section__products-added {
        display: flex;
        width: 100%;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
    }
    .article--product {
        margin: 20px;
    }
    .form__button {
        margin-bottom: 20px;
    }
    #user-img {
        width: 50px;
        height: 50px;
    }
    #img_product_page_section.zoom {
        height: 100vh;
        width: auto;
        cursor: -webkit-zoom-out;
        position: fixed;
        top: 0;
        z-index: 2;
    }
}